<!-- /.content-wrapper -->
  <footer class="main-footer no-print">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 1.0.0-alpha
    </div>
    <strong>Copyright &copy; 2018 <a href="http://bootsail.com">BSF</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


<!-- Bootstrap 4 -->
<script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- SlimScroll -->
<script src="/assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/assets/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/assets/dist/js/adminlte.min.js"></script>


<link rel="stylesheet" href="/assets/plugins/xoxco-tags-input/jquery.tagsinput.min.css">
<link rel="stylesheet" href="/assets/plugins/json-menu/prettify.css">
<link rel="stylesheet" href="/assets/plugins/alert/sweetalert2.css">



<script src="/assets/plugins/json-menu/json-menu.js"></script>
<script src="/assets/plugins/alert/sweetalert2.js"></script>
<script src="/dist/js/common.js"></script>
<script src="/assets/plugins/xoxco-tags-input/jquery.tagsinput.min.js" type="text/javascript" charset="utf-8"></script>