<nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom" id="main-header">
    <!-- Left navbar links -->
    <ul class="navbar-nav" id="header-left">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li>
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3" id="header-form">
      <div class="input-group input-group-sm" id="header-message">
        Welcome to Botsail Community Edition (CE)
      </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto" id="header-right">
	  <!-- Profile -->
	  <li class="nav-item"  id="profile-item">
        <a class="nav-link"  data-slide="true" href="/profile"><i class="fa fa-address-book"></i> Profile</a>
      </li>
	  <!-- Logout -->
	  <li class="nav-item" id="logout-item">
        <a class="nav-link"  data-slide="true" href="/logout"><i class="fa fa-window-close-o"></i> Logout</a>
      </li>
    </ul>
  </nav>