<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <% include ../partials/header %>
  <% include ../partials/menus %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <div class="panel panel-flat" indexpanel="3">
        <h2 class="page-header">Plugin List</h2>

        <div class="row">
          <% data.forEach(function(item){ %>
            <%- include('items/_package_list', {item: item}) %>
          <% }); %>
        </div>
        <!-- /.row -->
        
      </div>
  </div>
  
  <% include ../partials/footer %>
</body>
</html>